@(stock: Form[StockForm])(implicit request: MessagesRequestHeader)

    @import helper._

    @request.flash.get("success").map { key =>
        @request.messages(key)
    }

<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <title>Reactive Stock News Dashboard</title>
            <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
            <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("javascripts/graph.js")'></script>
        </head>
        <body data-ws-url="@routes.StockController.ws.webSocketURL()">
            <div id = 'formContainer'>
                <div id = 'addStock'>
                @form(routes.StockController.addStockAction()) {
                    @inputText(
                        stock("id"),
                        '_label -> "Stock Symbol",
                        'placeholder -> "symbol")
                    @CSRF.formField

                    <div class="buttons">
                        <input type="submit" value="Add Stock"/>
                    </div>
                }
                </div>
                <div id = "deleteStock">
                    @form(routes.StockController.deleteStockAction()) {
                        @inputText(
                            stock("id"),
                            '_label -> "Stock Symbol",
                            'placeholder -> "symbol")
                        @CSRF.formField

                        <div class="buttons">
                            <input type="submit" value="Delete Stock"/>
                        </div>
                    }
                <br>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h2 id = 'title'>Tracked Stocks</h2>
            <div id="stocks" class="container">
        </div>
        </body>
    </html>
